@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic,700italic,300,300italic&subset=latin,latin-ext);

code, kbd, pre, samp {
    background-color: rgba(66, 139, 202, 0.06);
    border: 1px solid rgba(15, 28, 177, 0.05);
    border-radius: 1px;
    font-size: 1.1rem;
    font-family: "Hack", monospace;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Libre Baskerville', Garamond, serif;
}

.btn-outline-white {
    color: #fff;
    background-image: none;
    background-color: transparent;
    border-color: #fff;
}

.blockquote {
    border-left: .25rem solid #2b80a1;
}

